<!Doctype html>
<html ng-app="video">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />  
        <title>Generate HTML5 video player</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

        <link href="StyleSheet.css" rel="stylesheet" />

        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>


    <body>

        <div class="navbar navbar-default navbar-fixed-top row">
            <div class="container">
                <a class="navbar-brand" href="/">HTML5 Video Player Generator</a>
                <ul class="nav navbar-nav navbar-right" id="nav-items">
                    <li><a href="#">Generator</a></li>
                    <li><a href="#">Docs</a></li>
                    <li><a href="#">About Me</a></li>
                </ul>
            </div>  
        </div>
        
            <div class="row">
                <div class="jumbotron">
                    <div class="container text-center">
                        <p>Create your own player with custom controls which looks same in all browsers </p>
                        <a class="btn btn-primary btn-lg " href="#">Generate</a>
                    </div>
                </div>
            </div>

        <div class="container">

            <div class="row">

                <!-- checkboxes for users to select which controls they want -->
                <section class="col-md-4">
                    <form ng-controller="ControlController as control">
                        <input type="checkbox" title="Let users repeat the video" ng-model="control.control.isRepeat" /> Repeat
                        <input type="checkbox" title="Show Current Video Time" ng-model="control.control.displayCurrentTime" /> Current Time
                        <input type="checkbox" title="Show video progress bar" ng-model="control.control.displayProgress" /> Seek Bar
                        <input type="checkbox" title="Show remaining time" ng-model="control.control.displayRemainingTime" /> Remaining Time
                        <input type="checkbox" title="Let users download your video" ng-model="control.control.allowDownload" /> Download
                        <input type="checkbox" title="Let users increase or decrese the speed of your video" ng-model="control.control.allowSpeedControl" /> Speed Control
                        <input type="checkbox" title="Let users control volume" ng-model="control.control.allowVolumeControl" /> Volume Control
                        <input type="checkbox" title="Allow full screen video" ng-model="control.control.allowFullScreen" /> Allow Full Screen
                        <input type="checkbox" title="Auto Repeat Video" ng-model="control.control.loop" /> Auto Repeat Video
                        <input type="checkbox" title="change video quality" ng-model="control.control.quality" /> Allow Change of video Quality
                    </form>
                </section>

                <section class="video-player-container col-md-8">
                    <!-- Video tag -->
                    <video id="avideo" ng-model="videoTag">
                        <source id="low" src="video/small.ogv" type="video/ogg" />
                        <source id="medium" src="video/SampleVideo.mp4" type="video/mp4" />
                        <source id="high" src="video/Rocket.mp4" type="video/mp4" />

                        
                    </video>

                    <!-- Video Player Controls -->
                    <div class="video-player-controls" ng-controller="VideoController as video">

                        <!-- play / pause button -->
                        <button id="play/pause" ng-click="video.playPause()">Play</button>

                        <section class="optional-controls" ng-controller="ControlController as control">

                            <!-- repeat button -->
                            <button ng-click="video.repeat()" ng-show="control.control.isRepeat">Repeat</button>

                            <!-- Current Time Display  -->
                            <span id="current-time" ng-show="control.control.displayCurrentTime">0:00</span>

                            <!-- Seek Video Time Control  -->
                            <input id="timeseek" type="range" value="0" ng-model="video.videoTime" ng-change="video.seekVideo()" ng-show="control.control.displayProgress" />

                            <!-- Remaining Time Display  -->
                            <span id="remaining-time" ng-show="control.control.displayRemainingTime">0:00</span>

                            <!-- Allow Download Control  -->
                            <a href="Rocket.mp4" download="video.mp4" ng-click="" ng-show="control.control.allowDownload">Download</a>

                            <!-- Playback Speed  -->
                            <div ng-show="control.control.allowSpeedControl">
                                <ul>
                                    <li ng-click="video.playbackSpeed(2)">2x</li>
                                    <li ng-click="video.playbackSpeed(1.5)">1.5x</li>
                                    <li ng-click="video.playbackSpeed(1)">1x</li>
                                    <li ng-click="video.playbackSpeed(0.5)">0.5x</li>
                                </ul>
                            </div>

                            <!-- Change Volume Control -->
                            <button id="mute/unmute" ng-click="video.muteControl()" ng-show="control.control.allowVolumeControl">Mute</button>
                            <input id="volume-bar" type="range" value="0.5" min="0" max="1" step="0.1" ng-show="control.control.allowVolumeControl" ng-model="video.initialVolume" ng-change="video.changeVolume()"/>

                            <!-- Auto Repeat Control -->
                            <button id="repeat-btn" ng-show="control.control.loop" ng-click="video.loop()">Auto Repeat</button>

                            <!-- Video Quality control -->
                            <ul id="quality-btn" ng-show="control.control.quality">
                                <li ng-click="video.changeQuality('low')">Low</li>
                                <li ng-click="video.changeQuality('medium')">Medium</li>
                                <li ng-click="video.changeQuality('high')">High</li>
                            </ul> 

                            <!-- Full Screen Control -->
                            <button ng-click="video.fullScreen()" ng-show="control.control.allowFullScreen">Full Screen</button>

                        </section>
                    </div>
                </section>
            </div>

            <!-- Output Code based on user's selected preferences -->
            <div class="row" ng-controller="OutputController as output">

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Menu 1</a></li>
                    <li><a href="#">Menu 2</a></li>
                    <li><a href="#">Menu 3</a></li>
                </ul>

                <code ng-controller="ControlController as control">

                    <!-- Enter the source of your video in src attribute below between double quotes -->
                    <pre>{{output.html.videoTag}}</pre>

                    <!-- html buttons -->
                    <pre>
                        {{output.html.playPause}}
                    <span>ng-show="control.control.isRepeat">{{output.html.repeat}}</span>
                    </pre>

                    <!-- CSS Output -->
                    <pre ng-show="control.control.isRepeat"></pre>

                    <!-- javaScript Output -->
                    <pre>
                        {{output.js.playPause}}
                    <span>ng-show="control.control.isRepeat">{{output.js.repeat}}</span>
                    </pre>


                </code>
            </div>

            <section>
                <!-- temp section will be deleted -->
                <span id="temp"></span>
            </section>
        </div>

        <!-- Scripts run after page  -->
        <script src="Framework/angular.min.js"></script>
        <script src="app.js" type="text/javascript"></script>

        <!-- Materialize css   -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>