<div class="page-content">
    <!-- content goes here -->
    <!-- banner starts -->
    <div class="mdl-typography--text-center mdl-shadow--2dp" id="banner" ng-controller="ScrollCtrl">
        <div class="mdl-cell mdl-cell--12-col no-margin">
            <div class="slogan">video player for your website</div>
            <div class="sub-slogan">Design your fully functional video player with custom controls and styles in just few clicks</div>
            <div class="slogan-btns">
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-click="scrollTo('control-selection')">
                    Generate
                </a>
                <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="#/docs">
                    View Docs
                </a>
            </div>
        </div>
    </div>

    <!-- banner ends -->
    <!--controls and preview sections-->
    <div class="mdl-grid">

        <section class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet" id="control-selection">
            <div class="demo-card-wide mdl-card mdl-shadow--3dp select-control-card">
                <div class="mdl-card__title card-title">
                    <h2 class="mdl-card__title-text">Select Controls</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <!-- checkboxes for users to select which controls they want -->
                    <!--loading select controls with custom directive-->
                    <select-control></select-control>
                </div>
            </div>
        </section>
        <!-- Select Control Section ends -->

        <section class="mdl-cell mdl-cell--8-col" id="preview">
            <div class="demo-card-wide mdl-card mdl-shadow--3dp">
                <div class="mdl-card__title card-title">
                    <h2 class="mdl-card__title-text">Preview based on selected controls</h2>
                </div>

                <div class="mdl-card__supporting-text" id="video-wrapper" ng-controller="VideoController as video">
                    <!-- Video tag -->
                    <video id="avideo">
                        <source id="high" src="video/SampleVideo.mp4" type="video/mp4" />
                        <source id="low" src="video/small.ogv" type="video/ogg" />
                    </video>
                    <!--custom controls with custom directive-->
                    <preview-control></preview-control>
                </div>
            </div>
        </section>
        

        <!-- Output Code based on user's selected preferences -->



        <!-- HTML Section Starts Here -->
        <section class="mdl-cell mdl-cell--8-col code-output">
            <section class="demo-card-wide mdl-card mdl-shadow--3dp">
                <section class="mdl-card__title card-title">
                    <h2 class="mdl-card__title-text">HTML</h2>
                </section>
                <section class="mdl-card__supporting-text overflow-on">
                    <html-output id="html-output"></html-output>
                </section>
                <section class="mdl-card__menu">
                    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                        <section class="mdl-card__menu">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect btn" data-clipboard-action="copy" data-clipboard-target="#html-output">
                                <i class="material-icons">content_copy</i>
                            </button>
                            <span class="mdl-tooltip" for="html-tooltip">Copy HTML</span>
                        </section>
                    </button>
                </section>
            </section>
        </section>

        <!-- Javascript Section Starts Here -->
        <section class="mdl-cell mdl-cell--8-col code-output">
            <section class="demo-card-wide mdl-card mdl-shadow--3dp">
                <section class="mdl-card__title card-title">
                    <h2 class="mdl-card__title-text">JAVASCRIPT</h2>
                </section>
                <section class="mdl-card__supporting-text overflow-on">
                    <js-output id="js-output"></js-output>
                </section>
                <section class="mdl-card__menu">
                    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                        <section class="mdl-card__menu">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect btn" data-clipboard-action="copy" data-clipboard-target="#js-output">
                                <i class="material-icons">content_copy</i>
                            </button>
                            <span class="mdl-tooltip" for="js-tooltip">Copy JS</span>
                        </section>
                    </button>
                </section>
            </section>
        </section>

        <!-- CSS Section Starts Here -->
        <section class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet css-output">
            <section class="demo-card-wide mdl-card mdl-shadow--3dp">
                <section class="mdl-card__title card-title">
                    <h2 class="mdl-card__title-text">CSS</h2>
                </section>
                <section class="mdl-card__supporting-text overflow-on-css">
                    <css-output id="css-output"></css-output>
                </section>
                <section class="mdl-card__menu">
                    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                        <section class="mdl-card__menu">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect btn" data-clipboard-action="copy" data-clipboard-target="#css-output">
                                <i class="material-icons">content_copy</i>
                            </button>
                            <span class="mdl-tooltip" for="css-tooltip">Copy CSS</span>
                        </section>
                    </button>
                </section>
            </section>
        </section>

    </div>
</div>