<div class="page-content">
    <!-- content goes here -->
    <!-- banner starts -->
    <div class="mdl-typography--text-center mdl-shadow--2dp" id="banner">
        <div class="mdl-cell mdl-cell--12-col no-margin">
            <div class="slogan">video player for your website</div>
            <div class="sub-slogan">Design your fully functional video player with custom controls and styles in just few clicks</div>
            <div class="slogan-btns">
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                    Generate
                </a>
                <a class="mdl-button mdl-js-button mdl-js-ripple-effect">
                    Watch Video
                </a>
            </div>
        </div>
    </div>
    <!-- banner ends -->
    <!--controls and preview sections-->
    <div class="mdl-grid">

        <section class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet" id="control-selection">
            <div class="demo-card-wide mdl-card mdl-shadow--3dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Select Controls</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <!-- checkboxes for users to select which controls they want -->
                    <!--loading select controls with custom directive-->
                    <select-control></select-control>
                </div>
            </div>
        </section>
        <!-- Select Control Section ends -->

        <section class="mdl-cell mdl-cell--8-col" id="preview">
            <div class="demo-card-wide mdl-card mdl-shadow--3dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Preview based on selected controls</h2>
                </div>

                <div class="mdl-card__supporting-text" id="video-wrapper" ng-controller="VideoController as video">
                    <!-- Video tag -->
                    <video id="avideo">
                        <source id="high" src="video/SampleVideo.mp4" type="video/mp4" />
                        <source id="low" src="video/small.ogv" type="video/ogg" />
                    </video>
                    <!--custom controls with custom directive-->
                    <preview-control></preview-control>
                </div>
            </div>
        </section>
    </div>

    <!-- Output Code based on user's selected preferences -->
    <div class="mdl-grid">

        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar">
                <a href="#html-panel" class="mdl-tabs__tab is-active">HTML</a>
                <a href="#css-panel" class="mdl-tabs__tab">CSS</a>
                <a href="#js-panel" class="mdl-tabs__tab">JavaScript</a>
            </div>

            <div class="mdl-cell--N-col">
                <!-- HTML Output -->
                <div class="mdl-tabs__panel is-active code-output" id="html-panel">
                    <!--custom directive for html output code-->
                    <html-output id="html-output"></html-output>
                    <button class="btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#html-output">Copy HTML to clipboard</button>
                </div>

                <!-- CSS Output -->
                <div class="mdl-tabs__panel code-output" id="css-panel">
                    <!--custom directive for css output code-->
                    <css-output id="css-output"></css-output>
                    <button class="btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#css-output">Copy CSS to clipboard</button>
                </div>

                <!-- JS Output -->
                <div class="mdl-tabs__panel code-output" id="js-panel">
                    <!--custom directive for javascript output code-->
                    <js-output id="js-output"></js-output>
                    <button class="btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#js-output">Copy JavaScript to clipboard</button>
                </div>

            </div>
        </div>
    </div>

    <!-- More Cool Stuff Section -->
    <div class="mdl-typography--text-center more-stuff mdl-shadow--2dp">
        <div class="mdl-cell--12-col more-stuff-info">
            More cool stuff @
            <a href="http://dsdilpreet.github.io/">dsdilpreet.github.io</a>
        </div>
    </div>


    <!-- footer starts -->
    <footer class="mdl-mini-footer mdl-shadow--3dp">
        <div class="mdl-mini-footer__left-section footer-sections footer-sec-1">
            <div class="mdl-logo">
                Developed by Dilpreet Singh
            </div>
        </div>
        <div class="mdl-cell--middle footer-sections footer-sec-2">
            <div style="width: 36px; margin: 0 auto 0; display: block; ">
                <a href="/">
                    <i class="material-icons mdl-logo logo">play_circle_filled</i>
                </a>
            </div>
        </div>
        <div class="mdl-mini-footer__right-section footer-sections footer-sec-3">
            <a class="mdl-mini-footer__social-btn" href="https://twitter.com/dil_singh"><img src="img/twitter.png" /></a>
            <a class="mdl-mini-footer__social-btn" href="http://nz.linkedin.com/in/dsingh94"><img src="img/linkedin.png" /></a>
            <a class="mdl-mini-footer__social-btn" href="http://dsdilpreet.github.io/"><img src="img/github.png" /></a>
        </div>

    </footer>

</div>
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>